<div class=" container" style="background-color:#14283b;margin-top:3rem; width:730px;text-align: center;">
  <h4 style="color:ivory ;margin: 1rem 0;">Submit Check Evidence For Ausalian Citizen</h4>
  <p style="color:rgb(187, 187, 187) ;margin: 1rem 0;font-size: 20px;">Upload the Vaccination certificate for fully
    Vaccinated or
    Booster Dose</p>

  <div class="dropzone">
    <input type="file">
    <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" fill="currentColor" class="bi bi-cloud-arrow-up-fill"
      viewBox="0 0 16 16"
      style="color: #009C7C;background-color:rgb(127, 251, 212);border-radius: 100%;padding: 5px;margin-bottom: 1.5rem;">
      <path
        d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z" />
    </svg>
    <h3 style="font-size: 16px;color: ivory;">drag and drop Vaccination Evidence for those who have
      had </h3>
    <h3 style="font-size: 16px;color: ivory;">2 doses or a booster dose or <span
        style="font-size: 16px;color: #009C7C">Browse</span></h3>
    <p style="color:rgb(187, 187, 187);font-size: 13px">Supports PDF,JPG,PNG files</p>
  </div>


  <p
    style="width:100%; text-align: center; border-bottom: 2px solid rgb(54, 72, 87); line-height: 0.1em;margin:3rem 0; padding:0 2rem">
    <span style="background:#14283b; 
    padding:0 10px;color: rgb(233, 230, 230);font-size: 12px;">OR</span>
  </p>
  <h3 style="font-size: 16px;color: ivory;">Add check manually</h3>
  <p style="color:rgb(187, 187, 187);font-size: 13px">Choose an option to manually submit the vaccination status of an
    employee</p>

  <button type="button" style="margin-top: 1rem;" routerLink="partlyvaccinated">
    <i class="fa-solid fa-hourglass-half" style="width:2em;height:20px"></i>Partly
    Vaccinated</button>
  <button type="button" style="margin-top: 1rem;"><i class="fa-sharp fa-solid fa-file-medical"
      style="width:2em;height:20px"></i>Medical
    Exemption</button>
  <button type="button" style="margin-top: 1rem;"><i class="fa-solid fa-hand" style="width:2em;height:20px"></i>
    Personal
    Objection
  </button>

</div>