<div class="container-fluid cards">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header" style="border-color: rgb(69, 87, 101);"><i class="fa-solid fa-briefcase"
            style="margin: 5px;color:white"></i>
          Work Entitlement<div style="color: ivory;text-align: end;"> > </div>
        </div>


        <div class="card-body">
          <h5 class="card-title">Not Requested</h5>
          <p class="card-text">The Check Is Not Requested Yet.</p>
          <a href="#" class="btn btn-primary" id="cardbtn"><i class="bi bi-plus-circle" style="margin: 5px;"></i>Add
            Check</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header" style="border-color: rgb(69, 87, 101);"><i class="fa-solid fa-syringe"
            style="margin: 5px;"></i>
          Vaccination<div style="color: ivory;text-align: end;"> > </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">Not Requested</h5>
          <p class="card-text">The Check Is Not Requested Yet.</p>
          <a href="#" class="btn btn-primary" id="cardbtn" routerLink="/evidence"><i class="bi bi-plus-circle"
              style="margin: 5px;"></i>Add
            Check</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header" style="border-color: rgb(69, 87, 101);"><i class="fa-solid fa-bottle-droplet"
            style="margin: 5px;"></i>
          RSA Check<div style="color: ivory;text-align: end;"> > </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">Not Requested</h5>
          <p class="card-text">The Check Is Not Requested Yet.</p>
          <a href="#" class="btn btn-primary" id="cardbtn"><i class="bi bi-plus-circle" style="margin: 5px;"></i>Add
            Check</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header" style="border-color:rgb(69, 87, 101);"><i class="fa-solid fa-scale-unbalanced"
            style="margin: 5px;"></i>
          Police Check<div style="color: ivory;text-align: end;"> > </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">Not Requested</h5>
          <p class="card-text">The Check Is Not Requested Yet.</p>
          <a href="#" class="btn btn-primary" id="cardbtn"><i class="bi bi-plus-circle" style="margin: 5px;"></i>Add
            Check</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header" style="border-color: rgb(69, 87, 101);"><i class="fa-sharp fa-solid fa-child-reaching"
            style="margin: 5px;"></i>
          Working With Children<div style="color: ivory;text-align: end;"> > </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">Not Requested</h5>
          <p class="card-text">The Check Is Not Requested Yet.</p>
          <a href="#" class="btn btn-primary" id="cardbtn"><i class="bi bi-plus-circle" style="margin: 5px;"></i>Add
            Check</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header" style="border-color: rgb(69, 87, 101);"><i class="fa-solid fa-graduation-cap"
            style="margin: 5px;"></i>
          Study Entitlement Check<div style="color: ivory;text-align: end;"> > </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">Not Requested</h5>
          <p class="card-text">The Check Is Not Requested Yet.</p>
          <a href="#" class="btn btn-primary" id="cardbtn"><i class="bi bi-plus-circle" style="margin: 5px;"></i>Add
            Check</a>
        </div>
      </div>
    </div>
  </div>
</div>