.form-control {
  background-color: #14283b;
  border-color: rgb(54, 72, 87);
  border-radius: 8px;
  color: rgb(54, 72, 87);
  height: 4rem;
  margin-bottom: 2rem
}

.form-control:active,
.form-control:focus {
  border-color: rgb(206, 206, 206);
  color: rgb(206, 206, 206);
  height: 4rem;

}




button {
  margin-left: 1.5rem;
  border-radius: 8px;
  border-style: solid;
  width: 6rem;
  margin-top: 9rem;
}

#nextButton {
  background-color: #009C7C;
  border-color: #009C7C;
  color: ivory;
  opacity: 50%;
}

#backButton {
  background-color: #14283b;
  border-color: rgb(209, 209, 209);
  color: rgb(209, 209, 209)
}

#nextButton:focus {

  opacity: 100%;
}

.container {
  background-color: #14283b;
  margin-top: 3rem;
  text-align: start;
  margin-bottom: auto;
}

.card-header {
  color: rgb(209, 209, 209);
}

.hourglass {
  padding: 1rem;
  color: rgb(209, 209, 209);
  background-color: #364049;
  border-radius: 6px;
  margin-right: 0.5rem;
}

@media (max-width:480px) {
  .container {
    margin-left: 0.25rem;

  }
}