<div class=" container">

  <h4 class="card-header"><i class="fa-solid fa-hourglass-half hourglass"></i>Partly
    Vaccinated
  </h4>
  <p style="color: rgb(69, 87, 101);margin-left:4rem">Enter the details of the vaccination Details</p>
  <h5 style="margin:1.5rem 0 ;color: rgb(209, 209, 209);">Vaccination date and shedule date</h5>
  <p style="color: rgb(69, 87, 101);">1st. Dose Vaccination Date</p>
  <div class="row">
    <div class="col-md-4">
      <input type="number" class="form-control" placeholder="Day" required>
    </div>
    <div class="col-md-4">
      <select class="form-control" aria-label="Default select example" required>
        <option selected>Month</option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="3">April</option>
        <option value="3">May</option>
        <option value="3">June</option>
        <option value="3">July</option>
        <option value="3">August</option>
        <option value="3">September</option>
        <option value="3">october</option>
        <option value="3">November</option>
        <option value="3">December</option>
      </select>
    </div>
    <div class="col-md-4">
      <input type="number" class="form-control" placeholder="Year" required>
    </div>
  </div>
  <p style="color: rgb(69, 87, 101);">2ndDose Vaccination Date</p>
  <div class="row">
    <div class="col-md-4">
      <input type="number" class="form-control" placeholder="Day" required>
    </div>
    <div class="col-md-4">
      <select class="form-control" aria-label="Default select example" data-toggle="dropdown" required>
        <option selected>Month</option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="3">April</option>
        <option value="3">May</option>
        <option value="3">June</option>
        <option value="3">July</option>
        <option value="3">August</option>
        <option value="3">September</option>
        <option value="3">october</option>
        <option value="3">November</option>
        <option value="3">December</option>
      </select>
    </div>
    <div class="col-md-4">
      <input type="number" class="form-control" placeholder="Year" required>
    </div>
  </div>
  <div class="row" style="margin-top:6rem ;">
    <div class="d-flex flex-row-reverse bd-highlight">
      <button class="p-2 bd-highlight" id="nextButton" routerLink="../result">Next</button>
      <button class="p-2 bd-highlight" id="backButton" routerLink="/evidence">Back</button>
    </div>
  </div>

</div>