<div class="container-fluid">

  <div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight">


      <div class="input-icons">
        <i class="fa-solid fa-magnifying-glass" style="color: ivory;"></i>
        <input type="text" class='searchbox' placeholder="Search for an Employee"
          style="color:ivory ;margin-top:1em;height: 3rem ;margin-left:2rem">
      </div>
    </div>

    <div class="p-2 bd-highlight" style="margin-left:auto;">

      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle=""
        aria-haspopup="true" aria-expanded="true" style="margin-top: 1rem;height: 1.3cm;">Add Employee</button>




      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" fill="currentColor" class="bi bi-person-circle"
        viewBox="0 0 16 16" style="color: rgb(223, 223, 223);margin-top:0.5em;margin-left: 5rem;">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
      </svg>
    </div>
  </div>
  <hr style="color: rgb(69, 87, 101);height:2px;padding: 0px;">

  <div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left"
        viewBox="0 0 16 16" style="color:ivory ;margin-top: 1rem;">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
    </div>



    <div class="p-2 bd-highlight">
      <div class="media d-flex align-items-center"><img src="https://bootstrapious.com/i/snippets/sn-v-nav/avatar.png"
          alt="..." width="75" class="mr-3 rounded-circle img-thumbnail shadow-sm" style="margin-right:1rem ;">
        <div class="media-body">
          <h4 class="m-0" style="color:ivory;margin:1rem;padding:5px ;">Jason Doe</h4>
          <p class="font-weight-light text-muted mb-0"><span style="color:rgb(255, 255, 255)">Janitor</span> at
            <span style="color:rgb(255, 255, 255)">Hotel</span>
          </p>
        </div>
      </div>
    </div>



    <div class="ml-auto p-2 bd-highlight" style="margin-left:auto;">
      <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle=">"
        aria-haspopup="true" aria-expanded="true"
        style="background-color:#14283b;color:ivory;border-color: rgb(69, 87, 101);margin-top: 1rem;width:8rem ;">
        Actions
      </button>

    </div>
  </div>
  <!-- ------------------------- TableStart---------------------------------------- -->

  <table class="table table-bordered" style="border-color: rgb(69,87,101);">
    <thead style="color: rgb(69, 87, 101);">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Business Unit</th>
        <th scope="col">Recruitment ID</th>
        <th scope="col">Payroll ID</th>
      </tr>
    </thead>
    <tbody>
      <tr style="color: ivory;">
        <td>jasondoe@gmail.com</td>
        <td>Hotel</td>
        <td>09978</td>
        <td>H564A</td>
      </tr>
    </tbody>

  </table>

  <!-- ------------------------- TableOver---------------------------------------- -->


  <!-- ------------------------- navlinkss Start---------------------------------------- -->
  <nav class="nav">
    <a class="nav-link" id="flexlinks" routerLink="allchecks">All Checks</a>
    <a class="nav-link" id="flexlinks" routerLink="communications">Communications</a>
    <a class="nav-link" id="flexlinks">Notes</a>
    <a class="nav-link" id="flexlinks">Documents</a>
  </nav>
  <hr style="color: rgb(69, 87, 101);height:2.5px;">
  <!-- ------------------------- navlinkss Over---------------------------------------- -->


  <router-outlet></router-outlet>

</div>