.nav-link {
  color: rgb(69, 87, 101);
  margin-top: 30px;
  margin-right: 70px;
  text-align: left;
  border-style: solid;
  border-width: 5px;
  border-color: #14283b;
}

.nav-link:active {
  color: #009C7C;
  border-bottom-color: #009C7C;
}

.nav-link:hover {
  color: #009C7C;
  border-bottom-color: #009C7C;
}

table {
  margin-top: 1rem;

  border-radius: 10px;
  border: solid rgb(69, 87, 101) 1px;
  border-collapse: separate;
}

tr {
  margin-left: 2rem;
}

td {
  margin-left: 2rem;
}

.searchbox {
  border: none;
  background-color: #14283b;
  /* border-color: #14283b; */
  box-shadow: none;
}

/* @media screen and(max-width:1617px) {
  .actionButton {
    margin-right: 2rem;
    display: none;
  }
} */