button {
  margin-left: 1.5rem;
  border-radius: 8px;
  border-style: solid;
  width: 9rem;

}

#nextButton {
  background-color: #009C7C;
  border-color: #009C7C;
  color: ivory;
  opacity: 50%;
}

#backButton {
  background-color: #14283b;
  border-color: rgb(209, 209, 209);
  color: rgb(209, 209, 209)
}

#nextButton:focus {

  opacity: 100%;
}

.container {
  background-color: #14283b;
  margin-top: 3rem;
  text-align: start;
  margin-bottom: auto;
  padding: 0px;
  max-width: 900px;
}

.card {
  border-color: grey;
  background-color: #14283b;
  height: 600px;
  border-radius: 6px;
}

.card-header {
  border: none;
  padding: 1rem;
  background-color: goldenrod;
  border-color: goldenrod;
  height: 50px;
}