.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #071b2e;
  color: rgb(69, 87, 101);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: start;
  border-style: solid;
  border-width: 5px;
  border-color: #071b2e;
}

.nav-link:hover,
.nav-link:focus {
  color: ivory;
  text-align: center;
  width: auto;

}

.nav-link:focus {
  border-left-color: #009C7C;
}

.nav-link:hover {
  border-left-color: #000000;
}

.offcanvas-header {
  background-color: #071b2e;
}